* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: #020202;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(180deg, #ffffff 0%, #777777 100%);
  background-clip: text;
  color: transparent;
}

.nav-list,
.actions {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 13px;
}

.nav-list a {
  color: grey;
}

.fa-angle-down {
  font-size: 10px;
}

.actions a {
  color: white;
}

.dropdown1,
.dropdown2,
.dropdown3,
.dropdown4,
.dropdown5,
.dropdown6 {
  position: relative;
}

.dropdown-content1,
.dropdown-content2,
.dropdown-content3,
.dropdown-content4 {
  position: absolute;
  top: 300%;
  display: none;
  padding: 20px;
  border: 1px solid rgb(57, 52, 52);
  width: 490px;
  height: 200px;
  border-radius: 10px;
}
.dropdown-content5 {
  position: absolute;
  top: 300%;
  display: none;
  padding: 20px;
  border: 1px solid rgb(57, 52, 52);
  width: 450px;
  height: 230px;
  border-radius: 10px;
}
.dropdown-content6 {
  position: absolute;
  top: 300%;
  display: none;
  padding: 20px;
  border: 1px solid rgb(57, 52, 52);
  width: 430px;
  height: 200px;
  border-radius: 10px;
}
.dropdown-content1 a,
.dropdown-content2 a,
.dropdown-content3 a,
.dropdown-content4 a,
.dropdown-content5 a,
.dropdown-content6 a {
  display: block;
  color: grey;
}

.dropdown1:hover .dropdown-content1,
.dropdown2:hover .dropdown-content2,
.dropdown3:hover .dropdown-content3,
.dropdown4:hover .dropdown-content4,
.dropdown5:hover .dropdown-content5,
.dropdown6:hover .dropdown-content6 {
  display: flex;
  line-height: 2.2em;
  font-size: 14px;
  gap: 30px;
}

.fa-angle-down:hover {
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}

.dcr3,
.dcr4 {
  border: 1px solid #292d32;
  width: 250px;
  height: 165px;
  background-color: #2c2929;
  border-radius: 13px;
  text-align: center;
}
.dcr10 {
  border: none;
  border-radius: 15px;
  width: 300px;
  height: 100px;
  background-color: #393333;
}
.dcr12-column1,
.dcr12-column2,
.dcr12-column3,
.dcr12-column4 {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  filter: opacity(40%);
  justify-content: center;
}
.btn1 {
  background-color: #393333;
  border: none;
  border-radius: 15px;
  padding: 12px;
  width: 112px;
  text-align: center;
  font-size: 15px;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#section1 {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px;
}

#section1 h1 {
  font-family: "Domine", serif;
  font-size: 58px;
  font-weight: 100;
  background-image: linear-gradient(180deg, #ffffff 0%, #777777 100%);
  background-clip: text;
  color: transparent;
  text-align: center;
}
#section1 p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 1.6em;
  color: grey;
  text-align: center;
}

#section1 a {
  color: white;
}

.bottom-action {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}

.btn2 {
  background: #393333;
  border: none;
  border-radius: 12px;
  padding: 10px;
  width: 140px;
  text-align: center;
}

#section2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 70px;
  color: grey;
  padding-bottom: 180px;
}

#section3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: grey;
  padding-bottom: 220px;
}
.section2-text,
.section3-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section2-text span,
.section3-text span {
  font-family: "Google Sans Flex", sans-serif;
  font-size: 16px;
}
.section2-text h1,
.section3-text h1 {
  font-family: "Domine", serif;
  font-size: 45px;
  background-image: linear-gradient(180deg, #ffffff 0%, #777777 100%);
  background-clip: text;
  color: transparent;
  line-height: 1.3em;
}
.section3-text h1 {
  text-align: center;
}
.section2-text p,
.section3-text p {
  font-family: "Google Sans Flex", sans-serif;
  font-size: 18px;
  line-height: 1.6em;
}

#section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding-bottom: 200px;
}

#section4 span {
  font-family: "Google Sans Flex", sans-serif;
  font-size: 16px;
  background-image: linear-gradient(180deg, #ffffff 0%, #777777 100%);
  background-clip: text;
  color: transparent;
}

#section4 h1 {
  font-family: "Domine", serif;
  font-size: 58px;
  font-weight: 100;
  background-image: linear-gradient(180deg, #ffffff 0%, #777777 100%);
  background-clip: text;
  color: transparent;
  line-height: 1.2em;
}

#section4 p {
  font-family: "Google Sans Flex", sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  color: grey;
  text-align: center;
}

#section5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding-bottom: 200px;
}

#section5 h1 {
  color: white;
  font-family: "Google Sans", sans-serif;
  line-height: 1.5em;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
}

.sec5photo {
  border: none;
  border-radius: 28px;
}
.section5-textimage {
  display: flex;
  align-items: center;
  gap: 30px;
  color: white;
  line-height: 1.6em;
  margin-top: 30px;
}

.section5-textimage h2 {
  font-family: "Google Sans", sans-serif;
  font-size: 17px;
}

.section5-textimage p {
  font-family: "Google Sans", sans-serif;
  font-size: 15px;
}

#section6 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: grey;
  padding-bottom: 150px;
}
.section6-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section6-text span {
  font-family: "Google Sans Flex", sans-serif;
  font-size: 16px;
}
.section6-text h1 {
  font-family: "Domine", serif;
  font-size: 45px;
  background-image: linear-gradient(180deg, #ffffff 0%, #777777 100%);
  background-clip: text;
  color: transparent;
  line-height: 1.3em;
}

.section6-text p {
  font-family: "Google Sans Flex", sans-serif;
  font-size: 18px;
  line-height: 1.6em;
}

#section7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#section7 h1 {
  font-family: "Google Sans Flex", sans-serif;
  font-size: 45px;
  background-image: linear-gradient(180deg, #ffffff 0%, #777777 100%);
  background-clip: text;
  color: transparent;
  font-weight: 300;
}

#section7 p {
  font-family: "Google Sans Flex", sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  color: grey;
  text-align: center;
}

#section7 a {
  font-family: "Google Sans Flex", sans-serif;
  color: white;
  background: #393333;
  border: none;
  border-radius: 12px;
  padding: 10px;
  width: 140px;
  text-align: center;
  font-size: 14px;
}
#section7 a:hover {
  background-color: whitesmoke;
  color: grey;
}

footer {
  margin-top: 250px;
  background-color: #020202;
  color: grey;
  font-family: "Google Sans", sans-serif;
  padding-left: 50px;
  height: 70vh;
}

#columns {
  font-family: "Google Sans", sans-serif;
  color: grey;
  display: flex;
  justify-content: first baseline;
  gap: 100px;
}
#columns p {
  padding-bottom: 30px;
  font-size: 15px;
  background-image: linear-gradient(180deg, #ffffff 0%, #777777 100%);
  background-clip: text;
  color: transparent;
}

.column1 p {
  font-size: 10px;
  line-height: 1.6em;
}
.icon-row {
  display: flex;
  gap: 10px;
  font-size: 20px;
  padding-bottom: 30px;
}
.icon-row i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #292d32;
  border-radius: 50%;
}
.column2-links,
.column3-links,
.column4-links,
.column5-links,
.column6-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 15px;
  font-weight: 100;
}
#columns a {
  color: grey;
}

.column1 span {
  border: 1px solid #292d32;
  width: 300px;
  padding: 6px;
  border-radius: 15px;
  font-size: 13px;
  text-align: center;
  color: white;
}
